@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: #191238;
  color: #fff;
  font-family: "Poppins", sans-serif;
  background-image: url("https://images.pexels.com/photos/6424619/pexels-photo-6424619.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  height: 100vh;
}
.heading {
  text-align: center;
  margin: 3% 0;
  font-size: 26px;
  color: #ffd2b3;
  font-weight: 500;
}
@media screen and (max-width: 700px) {
    .heading {
        font-size: 22px;
    }
  }
@media screen and (max-width: 450px) {
    .heading {
        font-size: 20px;
    }
    .Container{
        max-width: 92%;
    }
    .middle img {
      max-width: 90%;
    }
  }
.Container {
  margin: 0 auto;
  width: 360px;
  border-radius: 0.5rem;
  -webkit-border-radius: 0.5rem;
  -moz-border-radius: 0.5rem;
  -ms-border-radius: 0.5rem;
  -o-border-radius: 0.5rem;
  backdrop-filter: blur(16px) saturate(180%);
  -webkit-backdrop-filter: blur(16px) saturate(180%);
  background-color: rgb(53 33 27 / 49%);
}
.top {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.top span:nth-child(1) {
  margin: 26px 0 5px 0;
  background-color: #ff9549;
  padding: 4px 20px;
  border-radius: 20px;
  font-weight: 400;
  color: #2d2d2d;
}
.top span:nth-child(2) {
  font-size: 14px;
}
.middle {
  display: flex;
  justify-content: center;
  margin: 50px 0;
}
.middle img {
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  background-size: cover;
  height: 250px;
  width: 250px;
  -webkit-box-shadow: 0px 0px 32px 6px rgb(21 20 27);
  -moz-box-shadow: 0px 0px 32px 6px rgb(21 20 27);
  box-shadow: 0px 0px 32px 6px rgb(21 20 27);
}
.bottom {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.time {
  width: 100%;
  padding: 0 30px;
}
.time span:nth-child(2) {
  float: right;
}
.range {
  padding: 0 30px;
  width: 100%;
}
.range [type="range"] {
  width: 100%;
}

.range [type="range"] {
  -webkit-appearance: none; /* Removes default styling on Safari */
  width: 100%; /* Width of the slider */
  height: 10px; /* Height of the slider */
  background: #000000; /* Background color of the slider track */
  outline: none; /* Removes the outline when focused */
  opacity: 0.7; /* Opacity of the slider */
  transition: opacity 0.15s ease-in-out; /* Smooth transition for hover effects */
  border-radius: 66px;
}

.range [type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none; /* Removes default styling on Safari */
  appearance: none; /* Removes default styling */
  width: 20px; /* Width of the slider thumb */
  height: 20px; /* Height of the slider thumb */
  background: #f16700; /* Color of the slider thumb */
  border-radius: 50%; /* Rounded corners of the slider thumb */
  cursor: pointer; /* Cursor style */
}

.range [type="range"]::-moz-range-thumb {
  width: 20px; /* Width of the slider thumb for Firefox */
  height: 20px; /* Height of the slider thumb for Firefox */
  background: #f16700; /* Color of the slider thumb for Firefox */
  border: none; /* Removes default border */
  border-radius: 50%; /* Rounded corners of the slider thumb for Firefox */
  cursor: pointer; /* Cursor style */
}
.controls {
  margin: 20px 0;
  display: flex;
}
.controls button {
  height: 45px;
  width: 45px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 10px;
  padding: 12px;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  border: none;
  cursor: pointer;
  background-color: #ffb888;
}
.controls button:hover {
  background-color: #ff9549;
}
.controls button img {
  height: 20px;
}
.controls button:hover img {
  filter: invert(1);
  -webkit-filter: invert(1);
}
